@model Pidev.Models.EventModel
@{
    ViewBag.Title = "Update";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Update Actions</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">


                    <div class="dataTable_wrapper">
                        <div class="form-horizontal">
                            <table>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-info btn-circle">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    </td>

                                    <td>
                                        <h4>Re-Enter informations :</h4>
                                    </td>




                                </tr>


                            </table>


                            <hr />
                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                               
                                <div class="form-group">
                                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.type, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>



                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.desiredVolenteers, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.desiredVolenteers, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.desiredVolenteers, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.actif, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.actif, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.actif, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div>
                                                    @using (Html.BeginForm())
                                                    {
                                                        @Html.AntiForgeryToken()

                                                        <div class="form-actions no-color">
                                                            <input type="submit" value="Update" class="btn btn-success" /> |

                                                          
                                                            @Html.ActionLink("Back to List", "AllEvents")
                                                        </div>
                                                    }
                                                </div>


                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /#page-wrapper -->

</div>

